autom4te.cache/*
build/*
build-aux/*
*.m4
!m4_ax_cxx_compile_stdcxx.m4
!m4_ax_cxx_compile_stdcxx_14.m4
aclocal.m4
config.h.in
config.h
configure
configure.scan
autoscan.log
Makefile
Makefile.in
src/Makefile.in
src/Makefile
*~
src/*~
